@model CommunityDetailsViewModel

<h2 class="text-center">Welcome to @Model.Name</h2>
<hr />

<partial name="_SidebarPartial" model="@Model" />

@*<div class="list-group members">
    @foreach (var member in Model.Members)
    {
        <a href="#" class="list-group-item list-group-item-action">@member.Name</a>
    }
</div>
*@

@*<nav id="sidebarMenu"
    class="collapse d-lg-block members collapse bg-white">
    <div class="position-sticky">
        @if (ViewBag.errorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.errorMessage
            </div>
        }
        <div class="list-group list-group-flush mx-3 mt-4">
            @foreach (var member in Model.Members)
            {
                <a href="#" class="list-group-item list-group-item-action">@member.Name</a>
            }
        </div>
    </div>
</nav>*@
<h3 class="text-center">Members</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members)
        {
            @if (member.Id != Model.CreatorId)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@member.Name</td>
                    <td>
                        <form asp-area="Administration" asp-controller="User" asp-action="AddUserToRoll" asp-route-id="@member.Id" asp-route-communityId="@((Guid)(Model.Id))" method="post">
                            <span class="mb-3 d-flex justify-content-center">
                                <label asp-for="@member.Role" class="form-label">Role</label>
                                <select asp-for="@member.Role" class="form-control" name="Role">
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="User">User</option>
                                </select>
                                <input class="btn btn-primary" type="submit" value="Edit" />
                            </span>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section css {
    <link rel="stylesheet" href="~/css/sidebar.css" />
    @*<link rel="stylesheet" href="~/css/members.css" />*@
}