@model IEnumerable<CommunityViewModel>

<div class="text-center">
    <h1 class="display-4">My Communities</h1>
</div>

<div class="text-center row">
    @if (ViewBag.errorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.errorMessage
        </div>
    }

    @foreach (var community in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@community.Name</h5>
                <p class="mb-0">Description: @community.Description</p>
                @if (community.AgeRestricted)
                {
                    <p class="mb-0">This community is 18+ only!</p>
                }
            </div>

            @if (ViewBag.currentUserId != community.CreatorId)
            {
                <a asp-controller="Community" asp-action="Open" asp-route-id="@community.Id" class="btn btn-success mb-2">Open</a>
                <span></span>
                <a asp-controller="Community" asp-action="Details" asp-route-id="@community.Id" class="btn btn-primary mb-2">Details</a>
                <span></span>
                <a asp-controller="Community" asp-action="Leave" asp-route-id="@community.Id" class="btn btn-danger mb-2">Leave</a>
            }

            @if (ViewBag.currentUserId == community.CreatorId)
            {
                <a asp-controller="Community" asp-action="Open" asp-route-id="@community.Id" class="btn btn-success mb-2">Open</a>
                <span></span>
                <a asp-controller="Community" asp-action="Details" asp-route-id="@community.Id" class="btn btn-primary mb-2">Details</a>
                <span></span>
                <a asp-controller="Community" asp-action="Manage" asp-route-id="@community.Id" class="btn btn-primary mb-2">Manage</a>
            }
        </div>
    }
</div>