@model ChatroomViewModel

<div class="container py-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-14 col-lg-12 col-xl-10">
            <div class="card" id="chat2">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <a asp-controller="Community" asp-action="Open" asp-route-id="@ViewBag.CommunityId" class="btn btn-primary">Back</a>
                    <h5 class="mb-0">@Model.Name</h5>
                    <div></div>
                </div>
                <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 600px; overflow: auto;" id="messages">
                    @if (Model.Messages != null && Model.Messages.Count() > 0)
                    {
                        @foreach (var message in Model.Messages)
                        {
                            if (ViewBag.currentUserId == message.SenderId)
                            {
                                <div class="d-flex flex-row justify-content-end mb-4">
                                    <div class="p-3 me-3 border" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                        <p class="small mb-1 text-muted">@message.CreatedOn.ToString("dddd, d MMMM yyyy h:mm:ss tt")</p>
                                        <p class="small mb-0">
                                            <p><strong>@message.SenderUserName</strong> <img src="https://i.pinimg.com/originals/ff/a0/9a/ffa09aec412db3f54deadf1b3781de2a.png"
                                            alt="avatar 1" style="width: 25px; height: 100%;"></p> @message.Content
                                        </p>
                                    </div>
                                </div>
                            }

                            if (ViewBag.currentUserId != message.SenderId)
                            {
                                <div class="d-flex flex-row justify-content-start mb-4">
                                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: #fbfbfb;">
                                        <p class="small mb-1 text-muted">@message.CreatedOn.ToString("dddd, d MMMM yyyy h:mm:ss tt")</p>
                                        <p class="small mb-0">
                                            <p>
                                                <img src="https://i.pinimg.com/originals/ff/a0/9a/ffa09aec412db3f54deadf1b3781de2a.png"
                                                alt="avatar 1" style="width: 25px; height: 100%;"> <strong>@message.SenderUserName</strong>
                                            </p> @message.Content
                                        </p>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                    <input type="text" class="form-control form-control-lg" id="message" placeholder="Type message">
                    <input type="hidden" id="groupId" value="@ViewBag.ChatroomId" />
                    <input type="hidden" id="sender" value="@ViewBag.UserName" />
                    <input type="hidden" id="senderId" value="@ViewBag.currentUserId" />
                    <a class="ms-3" id="sendButton"><i class="fa-solid fa-paper-plane"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}