@model ManageProductViewModel

@{
    ViewBag.Title = "Edit a product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<a asp-controller="Community" asp-action="Open" asp-route-id="@ViewBag.CommunityId" class="btn btn-info">Back</a>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.SellerId" value="@ViewBag.SellerId" />
            <input type="hidden" asp-for="@Model.MarketplaceId" value="@ViewBag.MarketplaceId" />
            <input type="hidden" asp-for="@Model.CommunityId" value="@ViewBag.CommunityId" />
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" type="text" value="@Model.Price.ToString("0.00")" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Select an image:</label>
                <input class="form-control" type="file" accept="image/png, image/jpeg" id="formFile" name="formFile">
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}