@model CommunityViewModel

<div class="col-md-4">
        <div class="card mb-3" style="width: 20rem; ">
            <div class="card-body text-center">
                <h5 class="card-title mt-1">@Model.Name</h5>
                <p class="mb-0">Description: @Model.Description</p>
                @if (Model.AgeRestricted)
                {
                    <p class="mb-0">This community is 18+ only!</p>
                }
            </div>

        @if (Model.Members.Any(m => m.Id == Model.CurrentUserId) && Model.CurrentUserId != Model.CreatorId)
            {
            <a asp-controller="Community" asp-action="Open" asp-route-id="@Model.Id" class="btn btn-success mb-2">Open</a>
                <span></span>
            <a asp-controller="Community" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary mb-2">Details</a>
                <span></span>
            <a asp-controller="Community" asp-action="Leave" asp-route-id="@Model.Id" class="btn btn-danger mb-2">Leave</a>
            }

        @if (Model.Members.Any(m => m.Id == Model.CurrentUserId) && Model.CurrentUserId == Model.CreatorId)
            {
            <a asp-controller="Community" asp-action="Open" asp-route-id="@Model.Id" class="btn btn-success mb-2">Open</a>
                <span></span>
            <a asp-controller="Community" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary mb-2">Details</a>
                <span></span>
            <a asp-controller="Community" asp-action="Manage" asp-route-id="@Model.Id" class="btn btn-primary mb-2">Manage</a>
                <span></span>
            <a asp-controller="Community" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mb-2">Delete</a>
            }

        @if (Model.Members.All(m => m.Id != Model.CurrentUserId) && Model.CurrentUserId != Model.CreatorId)
            {
            <a asp-controller="Community" asp-action="Join" asp-route-id="@Model.Id" class="btn btn-success mb-2">Join</a>
            }
        </div>
</div>