@model CommunityDetailsViewModel

<nav id="sidebarMenu"
     class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        @if (ViewBag.errorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.errorMessage
            </div>
        }
        <div class="list-group list-group-flush mx-3 mt-4">
            <p class="list-group-item"><em><strong>CHATROOMS</strong></em></p>

            @foreach (var chatroom in Model.Chatrooms)
            {
                <span><b>@chatroom.Name</b></span>

                @if (chatroom.IsActive)
                {
                    <a asp-area="Administration" asp-controller="Community" asp-action="DeleteChatroom" asp-route-id="@chatroom.Id" asp-route-communityId="@((Guid)(Model.Id))"
                    type="button" class="btn btn-danger">Delete</a>
                }
                else
                {
                    <a asp-area="Administration" asp-controller="Community" asp-action="RestoreChatroom" asp-route-id="@chatroom.Id" asp-route-communityId="@((Guid)(Model.Id))"
                    type="button" class="btn btn-success">Restore</a>
                }
            }

            <a asp-controller="Community" asp-action="AddChatroom" asp-route-id="@((Guid)Model.Id)"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true">
                <span>Create a new chatroom</span>
            </a>
            
            <p class="list-group-item"><em><strong>MARKETPLACES</strong></em></p>

            @foreach (var marketplace in Model.Marketplaces)
            {
                <span><b>@marketplace.Name</b></span>
                               
                @if (marketplace.IsActive)
                {
                    <a asp-area="Administration" asp-controller="Community" asp-action="DeleteMarketplace" asp-route-id="@marketplace.Id" asp-route-communityId="@((Guid)(Model.Id))"
                    type="button" class="btn btn-danger">Delete</a>
                }else
                {
                    <a asp-area="Administration"asp-controller="Community" asp-action="RestoreMarketplace" asp-route-id="@marketplace.Id" asp-route-communityId="@((Guid)(Model.Id))"
                    type="button" class="btn btn-success">Restore</a>

                }
            }

            <a asp-controller="Community" asp-action="AddMarketplace" asp-route-id="@((Guid)Model.Id)"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true">
                <span>Create a new marketplace</span>
            </a>
        </div>
    </div>
</nav>